#root > div > main > form > div:nth-child(2) > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.css-upasof-MuiGrid-root > div.MuiFormControl-root.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.css-1osj8n2-MuiGrid-root.css-1nrlq1o-MuiFormControl-root > div {
  height: 100% !important;
  margin-top: 0 !important;
}

#select\ roles {
  left: 12px !important;
}

.highLabel {
  top: 30px !important;
}

.lowLabel {
  top: 16px !important;
}

.redLabel {
  color: red !important;
}

.rowToBeRemoved {
  background-color: rgb(150, 0, 0);
}

#mui-component-select-roles {
  padding-top: 9px !important;
  margin-left: 12px !important;
  padding-bottom: 8px !important;
}

.css-1ex1afd-MuiTableCell-root {
  padding: 6px 12px 6px 12px !important;
}

.css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root {
  padding-top: 16px !important;
  margin-top: 0 !important;
  background-color: rgba(0, 0, 0, 0.06) !important;
}